h1 {
    text-align: center;
    font-size: 50px;
    color: #e11376;
}

p {
    text-align: justify;
    font-size: 20px;
    color: #050001;
}

body {  
    background: #d0549a;
}

#titulo1 {
    text-align: center;
    font-size: 50px;
    color:#c15b6f;
}


    .p1{
        text-align: justify;
        font-size: 20px;
        color: rgb(232, 126, 147);}

    .p2{
        text-align: justify;
        font-size: 20px;
        color: #ec9999cc;}

    #img1{
        display: block;
        margin: 0 auto;}

    #titulo2{
        text-align: center;
        font-size: 30px;
        color:#c15b6f;}

    .ul{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        margin-right: 15%;
        font-size: 20px;
    }

    #img2{
        width: 50%;
    }

    header{
        text-align: center;
        font-size: 50px;
        color:rgb(232, 126, 147);
    }

    .principal{
        background:rgb(216, 156, 166);}

        .beneficios{
            background:#e8aeb9;}

